/* Estilo General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
    font-weight: 700;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #ff9800;
    outline: none;
}

select {
    appearance: none;
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2210%22 height%3D%225%22><path fill%3D%22%23333%22 d%3D%22M0%200l5%205%205-5z%22/></svg>') no-repeat right 10px center;
    background-color: white;
    background-size: 10px;
    padding-right: 30px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #45a049;
}

/* Estilos para la tabla */
.table-container {
    width: 100%;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #555;
}

td {
    background-color: #fff;
    transition: background-color 0.3s ease;
}

/* Alternancia de colores entre filas */
.odd-row td, .odd-row th {
    background-color: #e6e6e6; /* Fondo más oscuro para filas impares */
    color: #333;
}

.even-row td, .even-row th {
    background-color: #fafafa; /* Fondo más claro para filas pares */
    color: #333;
}

/* Estilo para el hover en las filas */
.hovered-row td, .hovered-row th {
    background-color: #d0d0d0 !important; /* Fondo ligeramente más oscuro cuando se pasa el ratón por encima */
}

/* Modo oscuro para hover */
body.dark-mode .hovered-row td, body.dark-mode .hovered-row th {
    background-color: #505050 !important; /* Fondo ligeramente más claro en modo oscuro */
}

/* Modo Oscuro */
body.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff; /* Texto blanco en modo oscuro */
}

body.dark-mode main {
    background-color: #2a2a2a;
    color: #ffffff; /* Texto blanco en modo oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode label {
    color: #ffffff;
}

body.dark-mode form {
    background: #333333;
    color: #ffffff;
}

body.dark-mode input, body.dark-mode select {
    background-color: #444444;
    color: #ffffff;
    border-color: #666666;
}

body.dark-mode input:focus, body.dark-mode select:focus {
    border-color: #ff9800;
    outline: none;
    background-color: #555555;
}

body.dark-mode button {
    background: #6fba6f;
    color: #ffffff;
}

body.dark-mode button:hover {
    background: #5aa85a;
}

body.dark-mode table {
    background-color: #2e2e2e;
    color: #ffffff;
}

body.dark-mode th, body.dark-mode td {
    border-color: #555555;
    color: #ffffff;
}

body.dark-mode th {
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode td {
    background-color: #3a3a3a;
}

body.dark-mode tr.hovered-row td,
body.dark-mode tr.hovered-row th {
    background-color: #4a4a4a;
}

/* Estilos para los botones de eliminar en Albaranes */
.delete-riego-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f44336; /* Color rojo */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-riego-btn:hover {
    background-color: #d32f2f; /* Rojo más oscuro al pasar el ratón */
}

/* Modo oscuro para los botones de eliminar en Albaranes */
body.dark-mode .delete-riego-btn {
    background-color: #e57373; /* Rojo más claro para destacar en modo oscuro */
    color: #ffffff; /* Texto blanco */
}

body.dark-mode .delete-riego-btn:hover {
    background-color: #c62828; /* Rojo más oscuro al pasar el ratón en modo oscuro */
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Fondo más oscuro */
}

.modal-content {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */
    width: 320px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Botón de eliminar en rojo */
#confirm-delete-riegos {
    background-color: #e74c3c; /* Rojo */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

#confirm-delete-riegos:hover {
    background-color: #c0392b; /* Rojo más oscuro */
}

/* Botón de cancelar */
#cancel-delete-riegos {
    background-color: #7f8c8d; /* Gris */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#cancel-delete-riegos:hover {
    background-color: #95a5a6; /* Gris más claro */
}

/* Estilos para el mensaje de deshacer */
.undo-message-riegos {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2ecc71; /* Verde atractivo */
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    font-size: 14px;
    z-index: 1001;
    text-align: center;
    animation: slideIn 0.3s ease-out;
}

.undo-message-riegos a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}

.undo-message-riegos a:hover {
    color: #ecf0f1;
}



/* Modo oscuro */
.dark-mode .modal-content {
    background-color: #333; /* Fondo oscuro */
    color: #f9f9f9; /* Texto claro */
}

.dark-mode .close {
    color: #f9f9f9; /* Color claro para el botón de cerrar */
}

.dark-mode #confirm-delete-riegos {
    background-color: #e74c3c; /* Rojo */
}

.dark-mode #confirm-delete-riegos:hover {
    background-color: #c0392b; /* Rojo más oscuro */
}

.dark-mode #cancel-delete-riegos {
    background-color: #7f8c8d; /* Gris oscuro */
}

.dark-mode #cancel-delete-riegos:hover {
    background-color: #95a5a6; /* Gris más claro */
}

.dark-mode .undo-message-riegos {
    background-color: #2ecc71; /* Verde atractivo */
    color: white;
}

/* Estilos para el campo de búsqueda de productos y la lista desplegable */
/* Asegurarse de que el contenedor del formulario permita la correcta posición de los elementos */
#riego-form {
    position: relative;
}

/* Ajuste para el campo de entrada del producto */
#producto-riego {
    position: relative;
    z-index: 1;
}

/* Ajuste para la lista desplegable del producto */
#producto-riego-list {
    position: absolute;
    top: 100%; /* Justo debajo del input */
    left: 0;
    right: 0;
    margin-top: -1px; /* Asegurar que no haya espacio entre el input y la lista */
    background-color: white;
    border: 1px solid #ccc;
    z-index: 2;
    display: none; /* Oculto por defecto */
    max-height: 150px;
    overflow-y: auto; /* Habilita el scroll si la lista es muy larga */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Añade una sombra para mayor visibilidad */
    border-radius: 0 0 5px 5px; /* Bordes redondeados solo en la parte inferior */
}

#producto-riego-list li {
    padding: 8px;
    cursor: pointer;
}

#producto-riego-list li:hover {
    background-color: #f0f0f0;
}
